<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/footer.css' />
<footer>
    <div class="footer-body">

        <div class="footer-div">
            <div class="footer-logo">
                <img width="40" src="/images/diocese-chicago.webp" alt="">
                <h1>St Margaret's Church</h1>
            </div>
            
            <div class="text-containerF">
                <p>
                    Unity, diversity, love.
                </p>
            </div>
            <div class="containerF">

                <div id="yt" class="glass-btn red-btn">
                    <!-- <div class="content">
                      e
                    </div> -->
                    <img src="https://i.postimg.cc/LstJ4Hhf/youtube.png" alt="youtube" style="width: 3.5em;">
                </div>


                  <div id="fb" class="glass-btn blue-btn">
                    <!--<div class="content">
                      h
                    </div> -->
                    <img src="https://i.postimg.cc/DwbWDQTx/facebook.png" alt="facebook" style="width: 3.5em;">
                  </div>

            </div>

        </div>

        <div class="footer-div">
            <h1>We Are</h1>
            <ul class="ful">
                <li><a target="_blank" href="https://episcopalchicago.org/">Diocese of Chicago</a></li>
                <li><a target="_blank" href="https://www.episcopalchurch.org/">Episcopal Church</a></li>
                <li><a target="_blank" href="https://www.anglicancommunion.org/">Anglican Communion</a></li>
            </ul>
        </div>

        <div class="footer-div">
            <h1>Worship</h1>
            <ul class="ful">
                <li><a href="/mission">Our Mission</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-div">
            <h1>Newsletter</h1>
            <p class="reg-status">Email already registered!</p>
            <div class="newsletter-container">
                <input id="email_input" class="sub-email" placeholder="Your email" type="text">
                <button id="submit_button" class="sub-button">
                    Subscribe
                    <div class="circle-loader cl-hidden">
                        <div class="checkmark draw"></div>
                    </div>
                </button>
            </div>
        </div>

    </div>




    <div class="bottom-bar">
        <div class="footer-nav">
            <p class="copy">Copyright &copy; 2023 SMEC</p>

        </div>
    </div>

</footer>



<script src="/javascripts/links.js"></script>


