<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<section class="mobile-menu">
    <header class="church-headerM">
      <div class="nav-top">
        <a class="imga" href="/"> <img class="logo" src="images/diocese-chicago.webp" alt=""></a>
        <h1 class="logo-text">St Margaret's Episcopal Church<h1>
      </div>
  
  
      <div class="nav-bottom">
        <div class="exit-menu">
          <i id="exit" class="fa-solid fa-xmark fa-2xl" style="color: #ffffff;"></i>
        </div>
        
        <nav class="navbar">
          <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/mission" class="nav-link">Our Mission</a></li>
            <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="/donate" class="nav-link">Donate</a></li>
            <li class="nav-item"><a href="/gallery" class="nav-link">Photo Gallery</a></li>
            <li class="nav-item"><a href="/epchurch" class="nav-link">The Episcopal Church</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>
  
    </header>
  </section>