<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/donate.css">
    <title>Donate</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <section class="hero-section">
        <div class="menu">
          <p>Menu</p>
          <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </div>

        <div class="containerDonate">
          <h1 class="donateH1">DONATE</h1>
        </div>
      </section>


<section>
    <h2 class="main-h2">Support Our Mission of Love and Compassion</h2>

    <div class="donate-container">
        <p class="donate-text">Your donation makes a difference! By supporting our mission of love and compassion, you help us gather for worship, nurture individuals in proclaiming the gospel, and scatter to spread God's love. No amount is too small - every contribution counts and strengthens our church and community. Thank you for being part of this meaningful journey with us!</p>
    </div>
    <div class="bottom">
        <strong><p class="info">Please click the button below to give.</p></strong> 
    <a target="_blank" class="donate-button" href="https://www.gofundme.com/f/preserve-our-community-support-our-church/donate?utm_campaign=p_cp+share-sheet&utm_medium=copy_link_all&utm_source=customer">Give Today</a>
    </div>
    

</section>


    <%- include('partials/footer') %>
</body>
</html>