<!DOCTYPE html>
<html>
  <head>
    <title>St. Margaret's Episcopal Church | Home </title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <section class="hero-section">
      <div class="menu">
        <p>Menu</p>
        <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
      </div>
      
      <div class="hero-texts">
        <h2 class="hero-textW">Welcome to</h2>
        <h1 class="hero-text">St Margaret's Episcopal Church</h1>
      </div>
  
      <div class="container">
        <h2 class="nav-hero">REFLECTING CHRIST'S IMAGE</h2>
        <h2 class="nav-hero">THROUGH LOVE, INCLUSION AND SERVICE</h2>
      </div>
    </section>
  
    <!-- <hr class="section-break"> -->
    <main class="main-content">
      <!-- <h1 class="main-h1">About</h1>
      <hr class="section-break light"> -->
  
  
      <div class="container-main">
  
        <h2 class="main-h2">On the South Side of Chicago</h2>
        <div class="container-text">
          <p class="main-text">St. Margaret of Scotland Episcopal Church is a diverse church family. We are a church with a
            great history, but an even brighter future as we seek to reach out through helping people become disciples of
            Jesus.</p>
        </div>
        
        <img class="front-img" src="images/front.jpg" alt="" srcset="">
  
        <h2 class="main-h2">Everyday people doing God's work</h2>
        <div class="container-text">
          <p class="main-text">Reverend Father Primo Racimo has been leading the congergration of St. Margret for over 20
            years.</p>
        </div>
        
        <img class="priest-img" src="images/primo.jpg" alt="" srcset="">
  
        <h2 class="main-h2">A Diverse People</h2>
        <div class="container-text">
          <p class="main-text">St. Margaret of Scotland Episcopal Church is a diverse community that reflects the beautiful
            diversity of the city of Chicago. We believe that diversity is a strength, not a weakness, and that God's love
            embraces all people regardless of their race, ethnicity, gender, sexual orientation, or socio-economic status.
    
          </p>
        </div>

        <div class="img-box">
          <img class="diver" src="images/diverse.jpg" alt="" srcset="">
        </div>
        
  
  
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
