<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/mission.css">
    <%- include('partials/head') %>
    <title>Mission</title>
</head>
<body>


    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <div class="menu">
        <p>Menu</p>
        <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
    </div>

      
      <section class="mission-main">
        <section class="mission-left">
            <h1>Our Mission</h1>
            <img src="images/heroimage.png" alt="hero image">
            <a class="missonL-button" href="https://www.episcopalchurch.org/">Learn more</a>
        </section>

        <section class="mission-right">
            <p class="mission-text">
                Our mission at St. Margaret's Episcopal Church is to guide others 'Towards Christ', demonstrating kindness and sharing the message of hope through Jesus.
            </p>

            <p class="mission-text">We do this through these categories:</p>

            <p class="mission-text"> <strong> Gather -</strong> At St. Margaret's Episcopal Church, our mission is to gather people to worship. We believe that coming together as a community in worship is a fundamental part of our faith journey. Through our weekly services and special gatherings, we create a sacred space where individuals can connect with God, experience His presence, and engage in meaningful worship. We strive to foster a welcoming environment where people of diverse backgrounds can gather, share their spiritual journey, and grow together in their relationship with God.
            </p>

            <p class="mission-text"> <strong> Nurture -</strong> Nurturing people to proclaim the gospel is at the core of our mission at St. Margaret's Episcopal Church. We are committed to providing a nurturing environment where individuals can deepen their understanding of the gospel and develop their spiritual gifts. Through Bible study, discipleship programs, and educational opportunities, we seek to equip our members to confidently proclaim the good news of Jesus Christ in their daily lives. We believe that nurturing one another strengthens our faith community and empowers us to share the transformative message of the gospel with love and compassion.
            </p>

            <p class="mission-text"> <strong> Scatter -</strong> As followers of Christ, we are called to scatter and witness God's love beyond the walls of our church. At St. Margaret's Episcopal Church, we embrace the mission to scatter and share the love of God with our local community and the world. Through outreach programs, missions, and acts of service, we seek to be living examples of God's love and compassion. We believe that our collective efforts can make a positive impact on the lives of others and inspire them to experience the transformative power of God's love in their own lives.
            </p>

        </section>
      </section>
    

    
      <%- include('partials/footer') %>
</body>
</html>