<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/donate.css">
    <link rel="stylesheet" href="stylesheets/services.css">
    <title>Donate</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <section class="hero-section">
        <div class="menu">
          <p>Menu</p>
          <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </div>

        <div class="containerDonate">
          <h1 class="donateH1">Service</h1>
        </div>
      </section>


<section>
    <h2 class="main-h2">Service Times</h2>

    <div class="donate-container">
        <p class="donate-text">We invite you to join us for our weekly services as we come together to worship, pray, and grow in faith. Below is our regular schedule of services:</p>
    </div>
    <div class="bottom">
        <p class="info"><strong>Sunday:</strong> <span class="time">10:30am - 12:00pm &#40refreshments after service&#41</span></p>
        
        <div class="donate-container">
            <p class="di">Directions: 2555 East 73rd Street Chicago, Illinois 60649</p>
            <p class="di">Enter from red chapel doors on East 73rd Street, pictured below.</p>
        </div>
       

        <img class="front" style="width: 15em;" src="https://ik.imagekit.io/smec/smec_gallery/image22.jpg?updatedAt=1687969728306" alt="">
    
    </div>
    

</section>


    <%- include('partials/footer') %>
</body>
</html>